 
body {
  background: url(http://wallpapercave.com/wp/1O8Yy0v.jpg);
  
  background-size: cover;

  color: white;}

 Bilder {
  text-align: center;}

 body {
  text-align: center;}

 a {
  color: white;}
 
 h1 {
    color: red;}

 h2 {
   color: green;}

 
